extends layout/index

block content
  main
    section
      div.container-fluid
        div.row
          div.col-sm-12
            div.pull-right
              span.badge.badge-binance.pull-left.m-t-20LOG LOG IN
            h4.page-title Dashboard
        div.row
          div.col-xl-3.col-md-6
            div.card-box
              h4.header-title.mt-0.m-b-30 #1
              div.widget-chart-1
                div.widget-detail-1
                  h2.p-t-10.mb-0
                  p.text-muted.m-b-10
          div.col-xl-3.col-md-6
            div.card-box
              h4.header-title.mt-0.m-b-30 #2
              div.widget-chart-1
                div.widget-detail-1
                  h2.p-t-10.mb-0
                  p.text-muted.m-b-10
          div.col-xl-3.col-md-6
            div.card-box
              h4.header-title.mt-0.m-b-30 #3
              div.widget-chart-1
                div.widget-detail-1
                  h2.p-t-10.mb-0
                  p.text-muted.m-b-10
          div.col-xl-3.col-md-6
            div.card-box
              h4.header-title.mt-0.m-b-30 #4
              div.widget-chart-1
                div.widget-chart-box-1
                div.widget-detail-1
                  h2.p-t-10.mb-0
                  p.text-muted.m-b-10
        diw.row
          div.col-sm-6
            div.card-box
              h4.header-title.mt-0 Last filled buy orders
              div.table-responsive
                table.table.mb-0.tableLastOrders
                  thead
                    tr
                      th Pair
                      th Size
                      th Buy price
                      th Target price
                      th Amount spent
                  tbody.overflow-auto(id="tbody_filledBuyOrders")
          div.col-sm-6
            div.card-box
              h4.header-title.mt-0 Last completed trades
              div.table-responsive
                table.table.mb-0.tableLastOrders
                  thead
                    tr
                      th Pair
                      th Size
                      th Buy price
                      th Sell price
                      th P&L
                  tbody.overflow-auto(id="tbody_completedOrders")
        div.row
          div.col-sm-12
            each exchange in exchanges
              each pair in exchange.pairs
                script.
                  window.!{exchange.name + "_" + pair.name + "_" + pair.id + "_separator"} = '!{pair.separator}';
                  window.!{exchange.name + "_" + pair.name + "_" + pair.id + "_digitsPrice"} = !{pair.digitsPrice};
                  window.!{exchange.name + "_" + pair.name + "_" + pair.id + "_digitsSize"} = !{pair.digitsSize};
                diw.row
                  div.col-sm-12
                    div.card-box
                      h4.header-title.mt-0.m-b-0 !{exchange.name}: !{pair.name} #!{pair.id}
                      div.row.mt-0.m-b-0
                        div.col-sm-8
                          diw.row
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10(title="Today profit / Yearly forecast performance based on today profit and total budget") Today profit:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="todayProfit_" + exchange.name + "_" + pair.name + "_" + pair.id )
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10(title="Monthly profit / Yearly forecast performance based on monthly profit and total budget") Monthly profit:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="monthlyProfit_" + exchange.name + "_" + pair.name + "_" + pair.id )
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10(title="Yearly profit / Yearly forecast performance based on yearly profit and total budget") Yearly profit:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="yearlyProfit_" + exchange.name + "_" + pair.name + "_" + pair.id )
                          diw.row
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10 Amount spent:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="amountSpent_" + exchange.name + "_" + pair.name + "_" + pair.id )
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10 Total size:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="totalSize_" + exchange.name + "_" + pair.name + "_" + pair.id )
                            div.col-sm-4
                              span.badge.badge-binance.pull-left.m-b-10 Total profit:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="totalProfit_" + exchange.name + "_" + pair.name + "_" + pair.id )
                        div.col-sm-4
                          diw.row
                            div.col-sm-12
                              span.badge.badge-binance.pull-left.m-b-10 Ask:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="rateAsk_" + exchange.name + "_" + pair.name + "_" + pair.id )
                          diw.row
                            div.col-sm-12
                              span.badge.badge-binance.pull-left.m-b-10 Bid:
                              span.badge.badge-dark.badge-pill.pull-left.m-b-10( id="rateBid_" + exchange.name + "_" + pair.name + "_" + pair.id )
                      div.table-responsive
                        table.table.mb-0
                          thead
                            tr
                              th BUY ID
                              th BUY PRICE
                              th SELL SIZE
                              th SELL TARGET PRICE
                              th AMOUNT SPENT
                              th P&L
                              th Action
                          tbody( id="tbody_" + exchange.name + "_" + pair.name + "_" + pair.id)